# dependencies
node_modules
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/dist

# IDE
/.settings
/.project
/.idea
!/.vscode
*.sublime-project
*.sublime-workspace

# generated documentation and coverage output
/generated-docs

# default coverage directory
/coverage

# Typescript
*.tsbuildinfo

#*
*$
*.BAK
*.bak
*.log
*.old
*~
.#*
.DS_Store
