/.husky
/.github
/build
/docs
/examples
/samples
/test
/*.config.js
/*.config.cjs
/*.config.mjs
/tsconfig.json
/dist/definitions/tsbuildinfo
/tsconfig.doc.json
babel.config.json
__snapshots__
/coverage
.yo-rc.json
/renovate.json
/yarn.lock
/.yarn
/.yarnrc.yml
/.pnp.*

/.settings
/.project
/.idea
/.vscode
*.sublime-project
*.sublime-workspace

#*
*$
*.BAK
*.bak
*.log
*.old
*~
.#*
